@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100..900&display=swap');
@import "tailwindcss";

:root{
  --border-color: #1A2129;
  --bg-color: #0C0F14;
}

body {
  font-family: 'epilogue', sans-serif;
  background-color: var(--bg-color);
}